<launch>

  <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="reconfigure_gui"/>

  <node pkg="turtlesim" type="turtlesim_node" name="turtle"/>

  <node pkg="twistimu" type="twistimu" name="twistimu" output="screen">
    <remap from="~cmd" to="turtle1/cmd_vel"/>
    <remap from="~imu" to="/android/imu"/>
  </node>

</launch>